
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*css 리셋코드*/
body {
    width: 100%;

}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #fff;
    margin: 0 auto;
}

#mainlogo {
    width: 80px;
    height: 40px;
    background-image: url("https://contents.sixshop.com/uploadedFiles/138305/default/image_1679038641968.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    box-sizing: border-box;
    margin: 10px auto;

}

main{
    padding-top: 60px;
}
#m_contents {
    background-image: url("https://contents.sixshop.com/thumbnails/uploadedFiles/138305/default/image_1678173989580_2500.jpg");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-size: 100%;
    padding-top:70%;
}

p {
    text-align: center;
    font-size: 26px;
    font-family: 'Jeju Gothic', sans-serif;
    font-weight: 400;
    padding: 15px;
    line-height: 10px;
}

section {
    height: auto;
}

#contents {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 0 15px;

}

.goods > :first-child {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;

}

.goods > h3 {
    font-size: 12px;
    color: black;
    font-weight: bolder;
    text-align: center;
}

.goods > p {
    font-size: 10px;
    color: #2441D1;
    font-weight: bold;

}

.goods > p > span {
    color: #777;
    font-size: 10px;
    text-decoration: line-through;

}


.goods > #img1 {

    background-image: url("https://contents.sixshop.com/thumbnails/uploadedFiles/138305/product/image_1680866172621_500.jpg");
}

.goods > #img2 {

    background-image: url("https://contents.sixshop.com/thumbnails/uploadedFiles/138305/product/image_1680866135940_500.jpg");
}

.goods > #img3 {

    background-image: url("https://contents.sixshop.com/thumbnails/uploadedFiles/138305/product/image_1680866097542_500.jpg");
}

.goods > #img4 {

    background-image: url("https://contents.sixshop.com/thumbnails/uploadedFiles/138305/product/image_1680866058919_500.jpg");
}
.goods > #img5 {

    background-image: url("https://contents.sixshop.com/thumbnails/uploadedFiles/138305/product/image_1680866019815_500.jpg");
}
.goods > #img6 {

    background-image: url("https://contents.sixshop.com/thumbnails/uploadedFiles/138305/product/image_1680865988412_500.jpg");
}
.goods > #img7 {

    background-image: url("https://contents.sixshop.com/thumbnails/uploadedFiles/138305/product/image_1680865944861_500.jpg");
}
.goods > #img8 {

    background-image: url("https://contents.sixshop.com/thumbnails/uploadedFiles/138305/product/image_1680865916256_500.jpg");
}
.goods > #img9 {

    background-image: url("https://contents.sixshop.com/thumbnails/uploadedFiles/138305/product/image_1680865886655_500.jpg");
}
.goods > #img10 {

    background-image: url("https://contents.sixshop.com/thumbnails/uploadedFiles/138305/product/image_1680865852656_500.jpg");
}

section > div > ul {
    margin-top: 10px;
    display: flex;
    gap: 24px;
    font-size: 14px;
    justify-content: center;
}

#insta {
    padding: 15px 0;
    margin-top: 10px;
}

.title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 17px 0;

}

#notice > div {
    padding-left: 15px;
    padding-right: 15px;
}

.n1 > p {
    font-size: 16px;

}

.title {
    border-bottom: 1px dotted #d8d8d8;
    border-top: 1px dotted #d8d8d8;
    color: #a4a4a4;
    line-height: 34px;
}

.title > p {
    font-size: 12px;

}

#board {

    display: flex;
    gap: 8px;
    margin: 20px;
}

#board {}

.b1 {
    border-radius: 5px;
    background-color: #182d85;
    color: #fff;
    border: 1px solid #898989;
    text-align: center;
    display: inline-block;
}

.b1 > p {
    font-size: 12px;
    text-align: center;
}

#banner {
    background-color: #201f3d;
    color: #fff;
}
#banner > p {
    font-size: 14px;
}

footer > div {
    background-color: #efefef;
    font-size: 10px;
    text-align: center;
}
#uti {

    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#uti > p {
    font-size: 12px;
}

#foot > p {
    font-size: 10px;
    line-height: 15px;
}

#foot > div {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
#imgg {
    background-image: url("https://static.sixshop.com/resources/images/product/escrow_inicisPay.png");
    width: 22px;
    height: 22px;
    background-size: 100%;
    background-repeat: no-repeat;

}

#imgg > span {
    font-size: 10px;
}

@media(min-width:1024px) {
    /*pc버전*/
    #contents {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .goods > h3 {
        font-size: 14px;
    }
    .goods > p {
        font-size: 14px;
    }
    .goods > p > span {
        font-size: 14px;
    }

}
